/*
 * --------------------------------------------------------
 *  Base styles
 *  Only single elements. No classes or ids
 * --------------------------------------------------------
 */
html
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing: antialiased
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit


body
  font-family $body-font
  text-align center
  background $wander


h1, h5
  font-family $headline-font
  color $ruben
  font-size 3.2em
  line-height 1
  text-transform uppercase
  letter-spacing 1px

  +above(460px)
    font-size 4.5em

h2, h3, h4
  color $ruben
  font-family $body-font
  line-height 1.25

h2
  color $ruben
  font-size 2.3em

  +above(460px)
    font-size 2.875em

h3
  font-size 2em

h4
  font-size 1.24em
  margin 10px 0
  text-align left

h5
  font-size 1.05em
  letter-spacing .15em

p
  font-family $body-font
  color $ruben
  font-size 1.05em
  line-height 1.65
  text-align left
  margin 10px 0

p.lead
  font-size 1.25em
  line-height 1.65
  margin 15px 0
  text-align center

  a
    margin-left 10px
    border-bottom 3px solid transparent

    &:hover
      // color $crusade
      border-bottom 3px solid @crusade



// p, ol, ul

a
  text-decoration none
  transition all 300ms ease
  color $ruben

  &:link, &:visited
    text-decoration none
    color $ruben

img
  width 100%
  max-width 1200px
  margin 0 auto
  display block

video, img
  width 100%

iframe
  width: 100%
  height: 56.25vw
  padding 0
  margin 0 auto

figure
  padding 30px 0 0 0
  img
    max-width 100%

strong
  font-weight bold
em
  font-style: italic

table
  text-align left
  width 100%
  margin 0 auto
  color $ruben

  thead
    @extend h5
    color $crusade
    padding 20px
    line-height 50px

  tr, td
    padding 15px 20px 15px 5px
    border-bottom 1px solid $crusade

    :first-child
      text-transform uppercase
      font-weight bold

input
  display block
  background transparent
  border 3px solid $ruben

ol
  font-size .9em
  color $ruben
  text-align left
  line-height 1.6em
  list-style-type: circle

  li
    padding 10px
    border-top 1px solid $crusade
