/*
 * --------------------------------------------------------
 *  Font definitions
 * --------------------------------------------------------
 */


/* Realtime-Bold Typeface */


@font-face {
  font-family: 'realtime-bold';
  src: url('../fonts/realtime-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/realtime-bold.woff') format('woff'), url('../fonts/realtime-bold.ttf')  format('truetype'), url('../fonts/realtime-bold.svg#realtime-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Slick Slider Typeface */


@font-face {
  font-family: 'slick';
  src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'),
       url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf')  format('truetype'), url('../fonts/slick.svg#slick') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Mono Social Icons Typeface & Styling */


@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('../fonts/MonoSocialIconsFont-1.10.ttf')  format('truetype'), url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.symbol, a.symbol:before
  font-family 'Mono Social Icons Font'
  -webkit-text-rendering optimizeLegibility
  -moz-text-rendering optimizeLegibility
  -ms-text-rendering optimizeLegibility
  -o-text-rendering optimizeLegibility
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-font-smoothing antialiased
  -ms-font-smoothing antialiased
  -o-font-smoothing antialiased
  font-smoothing antialiased
  content attr(title)
  margin-right 0.3em
    font-size: 130%;