.map-container
  position absolute
  height 100%
  top 0
  left 0
  width 100%
  z-index 1

#map
  height 100%
  width 100%
  
.map-search
  input
    color $ruben
    width 100%
    top 70px
    align(h)
    position absolute
    z-index 4
    @extends p
    padding 12px 20px
    border 3px solid #fafafa
    border-radius 100px
    
    +above(460px)
      width 460px
      max-width 460px
    
    +above(800px)
      top 120px

.map--name
  font-family $body-font
  font-size 1.25em
  line-height 1.6

.map--url
  a
    font-family $body-font
  
    &:link, &:visited
      color black
    
    &:hover
      color gray