/*
 * --------------------------------------------------------
 *  Mixins
 * --------------------------------------------------------
 */

transition()
   transition         arguments
   -webkit-transition arguments
   -moz-transition    arguments
   -ms-transition     arguments
   -o-transition      arguments
 
 vertical-align()
  position relative
  top 50%
  transform translateY(-50%)
  
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)