footer(class="footer" role="contentinfo")
  nav
    ul.menu
      li
        a(href="/secondary-pages/register-your-frame" class="top-text-link")
          span Register your frame
          .underline2
      li
        a(href="/secondary-pages/warranty") Warranty
      //- li
      //-   a(href="secondary-pages/register-your-frame") Why Steel
      
    ul.social
      li
        a.symbol(href="https://twitter.com/traitorcycles" title='circletwitterbird')
        a.symbol(href="https://www.facebook.com/pages/Traitor-Cycles/95669628560" title='circlefacebook')
        a.symbol(href="https://instagram.com/traitorcycles/" title='circleinstagram')
