body
- snippet('header')

  main.main(role="main")
    
    .slider--container
      //- h1.slider--text= $page->headline()
      .darken
      h1.slider--text= $page->headline()
      .slider
        - $slides = $page->slider()->yaml()
        - foreach($slides as $slide):
          .slider--container
            h1.slider--text= $slide['slider_desc']
            .full-width--slider(style!="background-image:url(<?php echo $page->image($slide['slider_image'])->url() ?>)")
        - endforeach;

    .lead--text
        h2= $page->hero_subheading()
        p.lead= $page->hero_content()
        
    .slider--container
      .centered
        h1= $page->featured_product()
        h4.white= $page->featured_description()
        a(class='primary-button', href='/bikes/crusade') Check it out
      .home--featured--product
        - $slides = $page->featured_photo()->yaml()
        - foreach($slides as $slide):
          //- img(src!="<?php echo $page->image($slide['slider_image'])->url() ?>")
          .full-width--slider(style!="background-image:url(<?php echo $page->image($slide['slider_image'])->url() ?>)")
        - endforeach;

- snippet('footer')
